
@font-face {
    font-family: BoosterNextFY-Regular;
    src: url(assets/fonts/BoosterNextFY-Regular.ttf);
}
@font-face {
    font-family: BoosterNextFY-Bold;
    src: url(assets/fonts/BoosterNextFY-Bold.ttf);
}

.bg-services {
    background-color: #EBF4F6 !important;
    border-radius: 20px;
}
p.bold {
    font-family: BoosterNextFY-Bold, sans-serif;
    font-size: 1.125rem; // 18px
    line-height: 1.75rem; // 28px
}
p.regular {
    font-family: BoosterNextFY-Regular, sans-serif;
    font-size: 1.125rem; // 18px
    line-height: 1.75rem; // 28px
}

h2 {
    font-family: BoosterNextFY-Bold, sans-serif;
    font-size: 3.75rem; // 60px
    color: #6E6E70;
}
h4 {
    font-family: BoosterNextFY-Bold, sans-serif;
    font-size: 1.875rem; // 30px
    color: #6E6E70;
}
p {
    font-family: BoosterNextFY-Regular, sans-serif;
    font-size: 1.5625rem; // 25px
    color: #6E6E70;
}

.gradient-overlay {
    position: relative;
}
.gradient-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(103deg, #99B56F 10%, #13B1E7 100%);
    mix-blend-mode: multiply;
    border-radius: 20px;
    z-index: 1;
}


.hero-img {
    border-radius: 20px;
    max-width: 100%;
}
.is-logo {
    top: 0;
    left: 25%;
    transform: translate(-5%, -5%);
    width: 20%;
    height: auto;
    z-index: 2;
}

.whirl-container {
    max-width: 80%;
}

.open-icon {
    top: 15%;
    left: 55%;
    transform: translate(-50%, -15%);
    width: 10%;
    height: auto;
    z-index: 2;
}

.button{
    font-family: 'BoosterNextFY-Bold', sans-serif;
    background: linear-gradient(90deg, #99B56F 0%, #13B1E7 100%);
    color: #ffffff;
    text-align: center;
    width: auto;
    border-radius: 50px;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
}

ul li {
    list-style: none;
    position: relative;
}

ul li::before {
    content: '●';
    font-size: 2rem;
    position: absolute;
    left: -30px;
    top: -15px;
    background: linear-gradient(90deg, #99B56F 0%, #13B1E7 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.team-img {
    max-width: 100%;
    max-height: 100%;
}

.banner {
    background-color: #13B1E7;
}

.card {
    background-color: #13B1E7;
    border: none;
}

.testimonial {
    background-color: #EBF4F6;
    border-radius: 20px;
}
.arrow-left, .arrow-right {
    cursor: pointer;
}

.arrow-left img, .arrow-right img {
    width: 25px;
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
}

.card-title {
    color: #6E6E70;
    font-size: 1.25rem;
}

.card-subtitle {
    color: #6E6E70;
    font-size: 1rem;
}

.card-text {
    color: #6E6E70;
    font-size: 0.875rem;
}

.contact-title {
    color: #6E6E70;
}

.form-agreement {
    color: #6E6E70;
    font-size: 0.8125rem;
}

.contact-info {
    color: #6E6E70;
    font-size: 0.875rem;
}